.greetingCard{
    display: flex;
    height: auto;
    border-radius: 10px;
    text-align: left;
    border: 1px solid rgb(216, 216, 216);
    padding: 25px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 
              0 6px 20px 0 rgba(0, 0, 0, 0.12);
}

.greetingCard .content{
    margin: auto;
}

.greetingCard img {
    width: 35%;
    height: auto;
    object-fit: cover;
    margin: 0 20px;
}

@media only screen and (max-width: 767px){
    .greetingCard img{
        width: 100%;
        margin: 20px 0;
    }
    .greetingCard{
        display: block;
    }
}