.card{
    height: auto;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}

h4, p{
    color: white;
}

.confirmed{
    background-image: linear-gradient(
        to right, 
        rgba(248,207,107,1), 
        rgb(238, 189, 161)
    );
}

.deaths{
    background-image: linear-gradient(
        to right, 
        rgba(237,109,133,1), 
        rgb(223, 182, 190)
    );
}

.recovered{
    background-image: linear-gradient(
        to right, 
        rgba(75,192,192,1), 
        rgb(57, 168, 168)
    );
}