.newsCard {
    display: flex;
    height: auto;
    border-radius: 10px;
    text-align: left;
    border: 1px solid rgb(216, 216, 216)
}

.newsCard:hover {
    border-color: rgb(93, 186, 236);
}

.newsContent {
    margin: 20px 10px;
}

img {
    width: 45%;
    height: auto;
    object-fit: cover;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

@media only screen and (max-width: 767px) {
    .newsCard {
        display: block;
    }

    img {
        width: 100%
    }
}