.card{
    height: auto;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}

.card:hover{
    transform: scale(1.1, 1.1);
}

.card h4, .card p{
    color: white;
}

.confirmed{
    background-image: linear-gradient(
        to top right, 
        rgba(250,218,96), 
        rgb(240, 140, 98)
    );
}

.deaths{
    background-image: linear-gradient(
        to top right, 
        rgba(227,93,158), 
        rgb(238, 124, 123)
    );
}

.recovered{
    background-image: linear-gradient(
        to top right, 
        rgba(118,224,157), 
        rgb(94, 176, 181)
    );
}

@media only screen and (max-width: 767px) {
    .card{
        margin-right: 10px;
        display: inline-block;
        width: 200px;
    }
    .card:hover{
        transform: scale(1.0, 1.0);
    }
}